*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
installables
deploy
generated_jars
/Protein_Annotation_Base/bin
/Protein_Annotation_Base/classes
/Protein_Annotation_Base/deploy
/Protein_Annotation_Base/MANIFEST.MF
/Protein_Annotation_Jobcenter_Modules/DISOPRED_2/Eclipsebin
/Protein_Annotation_Jobcenter_Modules/DISOPRED_2/classes
/Protein_Annotation_Jobcenter_Modules/DISOPRED_2/deploy
/Protein_Annotation_Jobcenter_Modules/DISOPRED_3/MANIFEST.MF
/Protein_Annotation_Jobcenter_Modules/DISOPRED_3/classes
/Protein_Annotation_Jobcenter_Modules/DISOPRED_3/deploy
/Protein_Annotation_Jobcenter_Modules/DISOPRED_3/Eclipsebin
/Protein_Annotation_Jobcenter_Modules/DISOPRED_2/MANIFEST.MF
/Protein_Annotation_Jobcenter_Modules/JobcenterModulesCommon/MANIFEST.MF
/Protein_Annotation_Jobcenter_Modules/JobcenterModulesCommon/classes
/Protein_Annotation_Jobcenter_Modules/JobcenterModulesCommon/deploy
/Protein_Annotation_Jobcenter_Modules/JobcenterModulesCommon/Eclipsebin
/Protein_Annotation_Jobcenter_Modules/PSIPRED_3/MANIFEST.MF
/Protein_Annotation_Jobcenter_Modules/PSIPRED_3/classes
/Protein_Annotation_Jobcenter_Modules/PSIPRED_3/deploy
/Protein_Annotation_Jobcenter_Modules/PSIPRED_3/Eclipsebin
/Protein_Annotation_Webapp/build_dir
